.profileHeader {
   width: 100vw;
   background-color: var(--bg-secondary);
   padding: 1.5rem 4rem 1rem 4rem;
   height: 110px;

   .profileNav {
      position: relative;
      display: flex;
      align-items: center;

      ul {
         display: flex;
         gap: 1.5rem;
         font-size: 1.6rem;
         font-weight: 400;
         list-style: none;
         text-decoration: none;
      }

      .navContainer {
         margin: 0 auto;
      }

      a {
         color: var(--white);
      }

      .profileLogo {
         position: absolute;
         z-index: 1;
         font-size: 2rem;
      }
   }
}

body {
   background-color: var(--bg);

   .profileMain {
      display: flex;
      width: 65vw;
      margin: 0 auto;
   }

   .navPlayerData,
   .playerDataContainer,
   .playerResumeDataContainer {
      border-radius: 8px;
   }

   .playerDataContainer {

      display: flex;
      gap: 10px;
      justify-content: space-between;
   }

   /*Nav player data*/
   .navPlayerData {
      width: 65vw;
      background-color: var(--white);

      display: flex;
      align-items: center;
      margin-top: 4rem;
      margin-bottom: 2rem;
      padding: 2rem;

      height: 4rem;

      nav ul {
         display: flex;
         gap: 1rem;

         list-style: none;
         font-size: 1.8rem;

         li {
            padding: 0.2rem 1rem;
            border-radius: 8px;
         }

         li:first-child {
            background-color: var(--bg-secondary);
            color: var(--white);

         }

         li:last-child {
            position: relative;

         }

         span {
            margin-left: 1rem;
            border-radius: 1rem;
            font-size: 1.2rem;
            position: absolute;
            top: 0;
            right: 20;
            padding: 0.2rem 0.8rem;
            color: var(--white);
            font-weight: 600;
            background-color: red;

         }
      }
   }

   /*Nav player data*/

   .playerResumeDataContainer {
      max-width: 26%;
      height: 70rem;
      background-color: var(--white);

      .playerNameContainer {
         padding: 15px 16px;
         display: flex;

         div img {
            border-radius: 12px;
         }

         .playerLevelContainer {

            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;

            img {
               width: 10rem;
               height: 10rem;
            }

            div {
               position: absolute;
               bottom: -12px;
               font-size: 1.4rem;
               display: flex;
               justify-content: center;
               align-items: center;
               background-color: var(--bg-secondary);
               width: 4.5rem;
               height: 2.4rem;
               border-radius: 8px;
               color: var(--white);
               font-weight: 500;
            }
         }

         .playerNameContainertwo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div:first-child {
               line-height: 16px;

               .playerName {
                  display: block;

                  font-size: 1.6rem;
                  font-weight: 500;
               }

               .playerOldName {
                  font-size: 1.3rem;
               }
            }

            .profilePlayerButton,
            .profilePlayerButton {
               width: 45%;
               height: 3rem;
               border: none;
               cursor: pointer;
               border-radius: 4px;
               font-weight: 600;
            }

            .profilePlayerButton:first-child {
               margin-right: 5px;
               color: var(--white);
               background-color: var(--bg-secondary);
            }

            .profilePlayerButton+.profilePlayerButton {
               background-color: transparent;
               border: 2px solid var(--bg-secondary);
               color: var(--bg-secondary);
            }
         }
      }

      .playerEloContainer {
         padding: 10px 16px;

         .eloContainer>span {
            font-size: 1.5rem;
            font-weight: 500;
         }

         .eloContainer:last-child {
            border-bottom: 1px solid #acacac9c;

         }

         .eloContainer {
            padding: 10px 0px;
            border-top: 1px solid #acacac9c;

            .eloContainer2 {
               display: flex;
               justify-content: space-between;
               align-items: center;

               div:first-child {
                  display: flex;
                  align-items: center;
                  font-size: 1.4rem;
                  gap: 5px;
                  img{
                     width: 70px;
                     height: 70px;
                  }
                  div span {
                     display: block;
                     line-height: 2rem;
                     font-size: 1.4rem;
                     font-weight: 400;
                  }

                  div span:first-child {
                     font-weight: 600;
                  }
               }

               div+div span {
                  width: 100%;
                  display: flex;
                  font-size: 1.2rem;
                  text-align: end;
                  justify-content: end;
               }

               .playerEloWinrate {
                  display: flex;
                  justify-content: end;
                  font-size: 1.3rem;
                  text-align: end;
               }

               #playerEloWinRateFlex,
               #playerEloPdlSoloDuo {
                  font-size: 1.4rem;
               }

               img {
                  margin-top: 10px;
                  border-radius: 100%;
               }
            }
         }
      }



      .playerWinRateChampion {
         .textPlaceHolderHero {
            width: 100%;
            font-weight: 600;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
         }

         .championsWinRateContainer {
            table {
               width: 100%;
               border-collapse: collapse;

               thead tr {
                  background-color: var(--bg);

                  th {
                     padding: 0.8rem 0.6rem;
                     font-size: 1.2rem;
                     font-weight: 600;
                     color: var(--bg-secondary);
                     text-align: start;
                  }

                  th+th {
                     text-align: end;
                  }

                  margin-bottom: 6px;
               }
            }

            tr {
               padding: 0px 1rem;
               display: flex;
               justify-content: space-between;
               align-items: center;

               td {
                  width: 50%;
                  display: flex;
               }

               .championWinRateBarContainer {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  color: var(--white);
                  font-size: 1.2rem;
                  background-color: var(--bg-secondary);
                  border-radius: 8px;

                  .winRateBar {
                     text-align: start;
                     border-radius: 8px 0 0px 8px;
                     padding: 0.4rem 0.8rem;
                     background-color: var(--bg-secondary);
                     width: 70%;
                  }

                  .loserRateBar {
                     border-radius: 0 8px 8px 0;
                     background-color: var(--loser);
                     padding: 0.4rem 0.8rem;
                     text-align: end;
                     width: 30%;
                  }
               }
            }

            tbody tr+tr {
               margin-top: 8px;
            }
         }
      }

      #championWinRateName {
         font-size: 1.2rem;
         display: flex;
         align-items: center;
         margin-left: 5px;
      }

      #championWinRateIcon {
         border-radius: 8px;
      }


   }

   /*playerHistoryContainer inicio*/

   .playerHistoryContainer {
      padding-bottom: 2rem;
      width: 72%;
      border-radius: 8px;
      background-color: var(--white);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;

      .playerHistoryTopContainer {
         margin-top: 2rem;
         border-radius: 1rem;
         padding: 1rem;
         width: 95%;
         height: 7rem;
         border: 2px solid var(--bg-secondary);
      }

      .playerHistoryMatchsContainer {
         width: 95%;
         display: flex;
         flex-direction: column;
         gap: 1.5rem;
      }
   }
}

.modalLoading {
   position: absolute;
   display: flex;
   justify-content: center;
   padding-top: 5rem;
   z-index: 10;
   height: 86.1vh;
   width: 100%;
   bottom: 0;
   background-color: rgb(255, 255, 255);

   img {
      width: 100px;
      height: 100px;
   }
}