@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --bg: #E9F2F9;
    --bg-secondary: #3A89C9;
    --black: #000000;
    --white: #ffffff;
    --win: #3A89C9;
    --win-secondary: #D0EAFF;
    --loser: #EA4141;
    --loser-secondary: #FBECEA;

    font-family: poppins, 'sans-serif';
}

.homeContainer {
    background-color: var(--bg);
}

.homeHeader {
    width: 100vw;
    background-color: var(--bg-secondary);
    padding: 1.5rem 4rem 1rem 4rem;
    height: 60px;

    .homeNav {
        position: relative;
        display: flex;
        align-items: center;

        ul {
            display: flex;
            gap: 1.5rem;
            margin: 0 auto;

            font-size: 1.6rem;
            font-weight: 400;
            list-style: none;
            text-decoration: none;
        }

        a {
            color: var(--white);
        }

        .homeLogo {
            position: absolute;
            z-index: 1;
            font-size: 2rem;
        }
    }
}

.homeContainer {
    height: 100vh;

}

.homeMain {
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 10rem;
        font-weight: 700;
    }

}

.latterStrongLogo {
    color: var(--win);
}